<!DOCTYPE html>
{% extends 'catalog/base.html'%}
{% block content %}
<div class="card mb-4 box-shadow">
    <div class="card-header">
        <h4 class="my-0 font-weight-normal">Напишите нам</h4>
    </div>
    <div class="card-body">
        <form method="post" action="" class="form-floating">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
        </form>
    </div>
</div>
{% endblock %}
